body{
	font-family:"맑은 고딕", "고딕", "굴림";
}
header {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #500;
	padding: 10px;
	overflow: hidden;
}
header h1{
	width:40%;
	float:left;	
	color:#ffffff;
}

header nav {
	width:60%;
	float:right;	
}
dl {
	background:url('../image/pink.jpg') no-repeat center;
	padding-lfet:60%;
}
nav ul{
	list-style-type:none;	
}

nav ul li{
	display: inline;
	float: left;
	margin: 15px;
	
}


nav ul li a{
	color:rgb(255, 255, 255);
	text-decoration:none;
	font-family: 'Nanum Pen Script', cursive;
}
p {
	font-size:15px;
	line-height:20px;
}

h1{
	font-size:2em;	
}

article{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border:5px solid #333;
	padding:5px;
	overflow:hidden;
}
article section{
	width: 30%;
	height:650px;
	float:left;
	margin:5px;
	padding:5px;
	border:1px dotted #333;
}
menu2{
	background-color: #080;
	display:none
}
menu3{
	background-color: #100;
	display:none
}
section h3{
	background:url('../image/bg-note.png') no-repeat left center;
	padding-left:60px;
}
aside{
	clear:both;
	margin:0 auto;
	width:80%;
	height:auto;
	padding:10px;
	background-color:#99cc33;
}
footer{
	clear:both;
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
	margin-top:0;
	padding:10px;
	background-color:#333;
	color:white;	
	text-align:center;
}

